* {
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  max-width: 90%;
}

@font-face {
  font-family: "Nekst-black";
  src: local("Nekst-black"),
    url("./components/assets/mangan-restaurant-website-homepage-2021-09-03-21-17-35-utc/Nekst-Black.ttf")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("./components/assets/font/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("./components/assets/font/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("./components/assets/font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}
